.navigation
  .navigation__content.container
    ul.navigation__list
      li.navigation__item.navigation__item_main
        a.navigation__link(href="#") Главная
      li.navigation__item.navigation__item_cinema
        a.navigation__link(href="#") Кино
      li.navigation__item.navigation__store
        a.navigation__link(href="#") Магазин
      li.navigation__item.navigation__item_projects
        a.navigation__link(href="#") Проекты
      li.navigation__item.navigation__item_news
        a.navigation__link(href="#") Новости
      li.navigation__item.navigation__archive
        a.navigation__link(href="#") Архив
      li.navigation__item.navigation__contacts
        a.navigation__link(href="#") Контакты